<ba-card title="Enter Extras Detail">
  <div class="row" col-lg-6 col-md-6 col-sm-12>
    <div class="col-sm-4">
      <label for="legbye">Leg Byes</label>
      <input [formControl]="legbye" type="text" class="form-control" id="legbye" placeholder="Leg Byes"
             [(ngModel)]="legbyeVal" (change)="onSelectedExtras('legbye', legbyeVal)">
    </div>
    <div class="col-sm-2">
      <label for="byes">Byes</label>
      <input [formControl]="wides" type="text" class="form-control" id="byes" placeholder="Byes"
             [(ngModel)]="byesVal" (change)="onSelectedExtras('byes', byesVal)">
    </div>
    <div class="col-sm-2">
      <label for="wides">Wides</label>
      <input [formControl]="wides" type="text" class="form-control" id="wides" placeholder="Wides"
             [(ngModel)]="widesVal" (change)="onSelectedExtras('wides', widesVal)">
    </div>
    <div class="col-sm-2">
      <label for="noball">No Balls</label>
      <input [formControl]="noballs" type="text" class="form-control" id="noball" placeholder="No Balls"
             [(ngModel)]="noballsVal" (change)="onSelectedExtras('noballs', noballsVal)">
    </div>
    <div class="col-sm-2">
      <label for="extrastotal">Total</label>
      <input [formControl]="extrastotal" type="text" class="form-control" id="extrastotal"
             placeholder="Extras Total"
             [(ngModel)]="extrastotalVal" (change)="onSelectedExtras('extrastotal', extrastotalVal)">
    </div>
  </div>
</ba-card>
