<div [ngSwitch]="true">
  <!--Basic Match Scoring => code implementation in matchBasicDetailsComponent-->
  <div *ngIf="!isBasicDetails">
    <score-basic-details *ngSwitchCase="!isFirstInnings"></score-basic-details>
    <score-basic-details *ngSwitchCase="isFirstInnings"></score-basic-details>
  </div>
  <!--First Innings Match Scoring => code implementation in matchBasicDetailsComponent-->
  <div *ngIf="isBatting">
    <submit-score-batting [innings]="'First Innings'" *ngSwitchCase="!isFirstInnings"></submit-score-batting>
    <submit-score-batting [innings]="'Second Innings'" *ngSwitchCase="isFirstInnings"></submit-score-batting>
  </div>

  <div *ngIf="!isExtras">
    <submit-score-extras [innings]="'First Innings'" *ngSwitchCase="isFirstInnings"></submit-score-extras>
    <submit-score-totals [innings]="'First Innings'" *ngSwitchCase="isFirstInnings"></submit-score-totals>
    <submit-score-wickets [innings]="'First Innings'" *ngSwitchCase="isFirstInnings"></submit-score-wickets>

    <submit-score-extras [innings]="'Second Innings'" *ngSwitchCase="!isFirstInnings"></submit-score-extras>
    <submit-score-totals [innings]="'Second Innings'" *ngSwitchCase="!isFirstInnings"></submit-score-totals>
    <submit-score-wickets [innings]="'Second Innings'" *ngSwitchCase="!isFirstInnings"></submit-score-wickets>
  </div>

  <!--First Innings Match Scoring => code implementation in SubmitScoreBowlingComponent-->
  <div *ngIf="!!11111isBowling">
    <submit-score-bowling [innings]="'First Innings'" *ngSwitchCase="!isFirstInnings"></submit-score-bowling>
    <submit-score-bowling [innings]="'Second Innings'" *ngSwitchCase="isFirstInnings"></submit-score-bowling>
  </div>
</div>
