<p-tabMenu [model]="items"></p-tabMenu>

<div class="content-section implementation">
  <p-growl [value]="msgs"></p-growl>

  <!--<h3 class="first">Basic</h3>
  <p-steps [model]="items"></p-steps>-->

  <h3>Clickable</h3>
  <p-steps [model]="itemsSteps" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

  <!--<h3>Custom Style</h3>
  <p-steps [model]="items" styleClass="steps-custom"></p-steps>-->
</div>
<ng-container *ngIf="battingRecordsList; else loading1;">
<p-tabView>
  <p-tabPanel header="Most Runs" leftIcon="fa-calendar">
    The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His
    beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T
    hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the
    head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything
    stands against the good of the family.
  </p-tabPanel>
  <p-tabPanel header=" Most Hundered" leftIcon="fa-print">
    Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the
    young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark
    side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the
    local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood
    in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business.
    With Fanucci gone, Vito's communal stature grows.
  </p-tabPanel>
  <p-tabPanel header="Highest Strike Rate" leftIcon="fa-bell-o" rightIcon="fa-bookmark-o">
    <p-chart type="bar" [data]="data"></p-chart>
  </p-tabPanel>
</p-tabView>
</ng-container>
<ng-template #loading1> For you !!! ...</ng-template>

<ng-container *ngIf="battingRecordsList; else loading;">
  <div class="button-wrapper col-sm-12 col-12">
    <button type="button" pButton (click)="showViaService()" class="btn btn-default  float-lg-left">Batting Record:
      Maximum Hundereds
    </button>
    <button type="button" class="btn btn-default float-lg-center">Batting Record: Maximum Hundereds</button>
    <button type="button" class="btn btn-default float-lg-right">Batting Record: Maximum Hundereds</button>
  </div>
  <status-messages [(value)]="msgs"></status-messages>
  <p-chart type="bar" [data]="data"></p-chart>

  <div class="row">
    <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-1">
      <h2 class="box" translate> {{'matches.title'}}
        <p class="float-right h5 ">
          <select class="btn-outline-warning" [(ngModel)]="leagueType" (ngModelChange)="getLeagueResults()">
            <option *ngFor=" let option of options2017" value={{option.id}}>{{option.name}}</option>
          </select>
        </p>
      </h2>
      <ba-card baCardClass="with-scroll">
        <ng2-smart-table [settings]="settings" [source]="battingRecordsList" (edit)="onRowEdit($event)"
                         (userRowSelect)="getDetailedScore($event)">
        </ng2-smart-table>

      </ba-card>
    </div>
  </div>
</ng-container>
<ng-template #loading> Wait Please, Table is Loading for you !!! ...</ng-template>
