<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
  <ba-card baCardClass="with-scroll" title="Enter Batting Details:=> {{innings}}">
    <div id="step2">
      <div class="row" *ngFor="let position of batting_poistion; let i = index ">
        <div class="col-sm-2">
          <div class="form-group row">
            <ng-select [formControl]="name"
                       [options]="playersList" [allowClear]="true" placeholder="Select Batsman Name"
                       highlightTextColor="black"
                       (selected)="onSelectedBatting(i, $event.value)">
            </ng-select>
          </div>

        </div>
        <div class="col-sm-2">
          <ng-select highlightColor="#9575cd" highlightTextColor="#fff" [formControl]="name"
                     [options]="player_out_type" [allowClear]="true" placeholder="Slect out type"
                     highlightTextColor="black"
                     (selected)="onSelectedHowOutTypes(i, $event.value)">
          </ng-select>
        </div>

        <div class="col-sm-2">
          <div class="form-group row">
            <ng-select [formControl]="name"
                       [options]="playersList" [allowClear]="true" placeholder="Select Assist Fielder"
                       highlightTextColor="black"
                       (selected)="onSelectedFielder(i, $event.value)">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group row">
            <ng-select [formControl]="name"
                       [options]="playersList" [allowClear]="true" placeholder="Select Bowler Name"
                       highlightTextColor="black"
                       (selected)="onSelectedBowler(i, $event.value)">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-1">
          <input [formControl]="name" type="text" class="form-control" id="runs"
                 placeholder="Runs" #runs
                 (change)="onSelectedRuns(i, runs.value)">
        </div>
        <div class="col-sm-1">
          <input [formControl]="name" type="text" class="form-control" id="balls"
                 placeholder="Balls" #balls
                 (change)="onSelectedBalls(i, balls.value)">
        </div>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="fours"
                 placeholder="4s" #fours
                 (change)="onSelectedFours(i, fours.value)">
        </div>
        <div class="col-sm-1">
          <input [formControl]="name" type="text" class="form-control" id="sixes"
                 placeholder="6s" #sixes
                 (change)="onSelectedSixes(i, sixes.value)">
        </div>
      </div>
      <div>

      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-4 col-xlg-4 col-lg-4 col-md-4 col-sm-4">
        <button type="submit" class="btn btn-default btn-auth" data-toggle="collapse" data-target="#step2"
                (click)="onSubmit(form.value)">Submit Batting Details
        </button>
      </div>
    </div>
  </ba-card>
</form>
