@import '../../../../theme/sass/conf/conf';

:host /deep/ .widgets {
  .smart-table-container {
    width: 100%;
  }

}

:host /deep/ {

  .ui-widget-content {
    border: 2px solid #404640;
    border-style: solid;
    background: #eeeeee;
    color: #d9534f;
  }

  .ui-steps .ui-steps-item {
    width: 20%;
  }

  .ui-state-highlight {
    border-color: rgba(250, 99, 34, 0.8);
    background: rgba(255, 41, 253, 0.54);
    color: #FFFFFF;
    overflow: hidden;
  }
  .ui-tabmenu {
   // widows: 2cm;
    padding: 1%;
    background-color: #eeeeee;
    background: #404640;
  }

  .ui-tabmenu .ui-tabmenu-nav {
    margin: 0;
    padding: .5em .5em 0 .5em;
  }

  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 .5em 1px 0;
    padding: 0;
    white-space: nowrap;
    display: block;
    border-bottom: 0;
    top: 1px;
    background: red;
  }
  .ui-tabmenuitem a {
    float: left;
    padding: .5em 6em;
    text-decoration: none;
  }
}

:host /deep/ {
  ng2-smart-table {
    th, td {
      border: 1px solid $border-light !important;
      line-height: 35px;
      vertical-align: middle;
    }
    th {
      background-color: darkslategrey;
    }

    table tr td {
      padding: 0 8px;
    }
    table {
      background-color: darkcyan;

    }

    color: $default-text;

    input {
      line-height: 1.5 !important;
    }

    ng2-smart-table-cell {
      color: $default-text;
      line-height: 35px;
    }

    tbody {
      tr {
        color: $default-text;
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }

    a.ng2-smart-sort-link {
      font-size: 14px !important;
      color: $default-text;
      font-weight: $font-bolder;
      &.sort {
        font-weight: $font-bolder !important;

        &::after {
          border-bottom-color: $default-text !important;
        }
      }
    }

    .ng2-smart-actions {
      width: 70px;
      text-align: center;
      .actions {
        float: none;
        text-align: center;
      }
    }

    .ng2-smart-actions-title-add {
      text-align: center;
    }

    a.ng2-smart-action, .ng2-smart-title {
      font-size: 14px !important;
      color: $default-text;
      padding: 0 5px;
      display: inline-block;

      &.ng2-smart-action-add-add {
        font-size: 25px !important;
      }
    }

    nav.ng2-smart-pagination-nav {
      display: flex;
      justify-content: center;
    }
  }
}
