<div class="horizontal-scroll">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="browser-icons">Team logo</th>
        <th>Team</th>
        <th class="align-right">Played</th>
        <th class="align-right">Won</th>
        <th class="align-right">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of teamPoints">
        <!--<td><img src="{{ ( item.team | baAppPicture )}}" width="20" height="20"></td>-->
        <td ngClass="nowrap">{{ item.id }}</td>
        <td ngClass="nowrap">{{ item.played }}</td>
        <td class="align-right">{{ item.won }}</td>
        <td class="align-right">{{ item.points }}</td>
        <td class="align-right">{{ item.nrr }}</td>
      </tr>
    </tbody>
  </table>
</div>