<div class="btn-group-example" *ngIf="name == 'buttons-simple-groups'">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-danger">Left</button>
    <button type="button" class="btn btn-danger">Middle</button>
    <button type="button" class="btn btn-danger">Right</button>
  </div>
</div>

<span class="btn-toolbar-example" *ngIf="name == 'buttons-multi-groups'">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group" *ngFor="let option of options">
      <button type="button" class="btn btn-success "
              *ngIf="option.year =='2017'">{{option.name}}-{{option.year}}</button>

    </div>
    <!--<div class="btn-group" role="group" aria-label="Second group" *ngFor="let option of options">-->
    <!--<button type="button" class="btn btn-primary btn-outline-success" *ngIf="option.id =='20'">{{option.name}}-{{option.year}}</button>-->
    <!--</div>-->
    <!--<div class="btn-group" role="group" aria-label="Third group" *ngFor="let option of options">-->
    <!--<button type="button" class="btn btn-primary" *ngIf="option.id =='30'">{{option.name}}- {{option.year}}</button>-->
    <!--</div>-->
  </div>
</span>
