@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}


  .dashboard {
    border: 1px solid #f1bf55;
    background: rgba(31, 241, 38, 0.53);
    color: #ddf9e7;
  }
:host /deep/ {
  .ui-widget-content {
    border: 1px solid #f1bf55;
    background: rgba(74, 24, 43, 0.75);
    color: #f6f7f9; }
}
