<div>
  <ba-card baCardClass="with-scroll" title="Match Basic Details">
    <div id="step1">
      <form [formGroup]="form" (ngSubmit)="onSubmitBasicDetails(form.value)" class="form-horizontal">
        <ba-card baCardClass="with-scroll" title="">
          <div class="row col-xlg-12 col-lg-12 col-md-12 col-sm-12">

            <div class="row col-xlg-8 col-lg-8 col-md-8 col-sm-12">
              <ba-card baCardClass="with-scroll" title="">
                <dynamic-label *ngIf="!league_id.valid" [labelStatus]="'error'"
                               [labelText]="'Select League'"></dynamic-label>
                <dynamic-label *ngIf="league_id.valid" [labelStatus]="'success'"
                               [labelText]="'League Selected'"></dynamic-label>
                <md-radio-group [formControl]="league_id" class="example-radio-group"
                                *ngFor="let league of checkLeagues"
                                [(ngModel)]="selectedLeague"
                                layout="column"
                                (click)="onSelected('league_id', league.leagueId); onSelected('season', league.seasonId) "
                                [disabled]="league.disabled">
                  <md-radio-button class="example-radio-button" [value]="league.leagueId">
                    {{league.name}}
                  </md-radio-button>
                </md-radio-group>


                <dynamic-label *ngIf="!ground_name.valid" [labelStatus]="'error'"
                               [labelText]="'Select Game Venue'"></dynamic-label>
                <dynamic-label *ngIf="ground_name.valid" [labelStatus]="'success'"
                               [labelText]="'Game Venue Selected'"></dynamic-label>
                <md-radio-group [formControl]="ground_name" class="example-radio-group" [(ngModel)]="selectedVenue"
                                *ngFor="let venue of checkVenues"
                                [disabled]="venue.disabled">
                  <md-radio-button class="example-radio-button" [value]="venue.name"
                                   (click)="onSelected('ground_id', venue.value)"
                                   (click)="onSelected('ground_name', venue.name)">
                    {{venue.name}}
                  </md-radio-button>
                </md-radio-group>
              </ba-card>
            </div>
            <div class="row col-xlg-4 col-lg-4 col-md-4 col-sm-12">
              <ba-card baCardClass="with-scroll" title="">
                <dynamic-label *ngIf="!matchResult.valid" [labelStatus]="'error'"
                               [labelText]="'Select Match Result'"></dynamic-label>
                <dynamic-label *ngIf="matchResult.valid" [labelStatus]="'success'"
                               [labelText]="'Match Result Selected'"></dynamic-label>
                <md-radio-group [formControl]="matchResult" class="example-radio-group" [(ngModel)]="selectedResult">
                  <md-radio-button class="example-radio-button" *ngFor="let result of checkResults"
                                   [value]="result.value"
                                   (click)="onSelectedResult(result.name, result.value)">
                    {{result.text}}
                  </md-radio-button>
                </md-radio-group>
              </ba-card>
            </div>
          </div>
        </ba-card>
        <div class="form-group row">
          <div class="button-wrapper" class="col-sm-3 ">
            <dynamic-label *ngIf="!game_date.valid" [labelStatus]="'error'"
                           [labelText]="'Select Match Date'"></dynamic-label>
            <dynamic-label *ngIf="game_date.valid" [labelStatus]="'success'"
                           [labelText]="'Date Selected'"></dynamic-label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <ng2-datepicker [formControl]="game_date"
                            [(ngModel)]="dateValue"
                            [options]="myOptions2"
            ></ng2-datepicker>
            <!--<ng-daterangepicker [formControl]="game_date" [(ngModel)]="valueNew" [options]="myOptions2"></ng-daterangepicker>-->
          </div>

          <!--check portable player if are playing-->
          <div class=" button-wrapper" class="col-sm-3 " [ngSwitch]="name">
            <!--<dynamic-label *ngIf="'yes'" [labelStatus]="'warning'"
                           [labelText]="'Portable Players'"></dynamic-label>-->
            <dynamic-label *ngIf="'no'" [labelStatus]="'success'"
                           [labelText]="'Portable Players'"></dynamic-label>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- <input [formControl]="week" type="text" class="form-control" id="potables" placeholder="Portable Yes or No"
                    [(ngModel)]="weekNo" (change)="onSelected('week', weekNo)">-->

            <md-checkbox>Please check</md-checkbox>

          </div>
        </div>


        <ba-card baCardClass="with-scroll" title="Select Match Result">

          <div class="form-group row">

            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Match Week #'"
                             *ngSwitchCase="!week.touched && !week.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Match  Week #'"
                             *ngSwitchCase="week.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Match  Week #'" *ngSwitchCase="week.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Match  Week #'"
                             *ngSwitchCase="!week.valid && week.touched"></dynamic-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input [formControl]="week" type="text" class="form-control" id="week" placeholder="Enter Week #"
                     [(ngModel)]="weekNo" (change)="onSelected('week', weekNo)">
            </div>
          </div>

          <!--Results-->
          <div class="form-group row">

            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Match Result'"
                             *ngSwitchCase="!result.touched && !result.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Match Result'"
                             *ngSwitchCase="result.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Match Result'" *ngSwitchCase="result.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Match Result'"
                             *ngSwitchCase="!result.valid && result.touched"></dynamic-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input [formControl]="result" type="text" class="form-control" id="result" placeholder="Enter Result">
            </div>
          </div>

          <!--Max Overs-->

          <div class="form-group row">

            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Maximum Overs'"
                             *ngSwitchCase="!maxovers.touched && !maxovers.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Maximum Overs'"
                             *ngSwitchCase="maxovers.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Maximum Overs'" *ngSwitchCase="maxovers.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Maximum Overs'"
                             *ngSwitchCase="!maxovers.valid && maxovers.touched"></dynamic-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input [formControl]="maxovers" type="text" class="form-control" id="maxovers"
                     placeholder="Maximum Overs">
            </div>
          </div>

        </ba-card>

        <ba-card baCardClass="with-scroll" title="Select Playing Teams">


          <div class="form-group row">
            <label for="result" class="col-sm-4 control-label">Teams for Home Team's Portable Players</label>
            <div class="col-sm-8 ">
              <ng-select [formControl]="name"
                         [options]="teamsList" [multiple]="true" [allowClear]="true"
                         placeholder="Select Teams for Home Team's Portable Players"
                         highlightTextColor="black"
                         (selected)="onTeamsSelected('homeTeamsPortable',$event.value)">
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="result" class="col-sm-4 control-label">Teams for Away Team's Portable Players</label>
            <div class="col-sm-8 ">
              <ng-select [formControl]="name"
                         [options]="teamsList" [multiple]="true" [allowClear]="true"
                         placeholder="Select Teams for Away Team's Portable Players"
                         highlightTextColor="black" (selected)="onTeamsSelected('awayTeamsPortable',$event.value)"
                         (selected)="onTeamsSelected('awayTeamsPortable',$event.value)">
              </ng-select>
            </div>
          </div>

          <div class="form-group row">
            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Home Team'"
                             *ngSwitchCase="!hometeam.touched && !hometeam.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Home Team'"
                             *ngSwitchCase="hometeam.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Home Team'" *ngSwitchCase="hometeam.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Home Team'"
                             *ngSwitchCase="!hometeam.valid && hometeam.touched"></dynamic-label>
            </div>
            <div class="col-sm-8">
              <ng-select [formControl]="hometeam"
                         [options]="teamsList" [allowClear]="true" placeholder="Select Home Team"
                         highlightColor="#FFCE56"
                         (selected)="onTeamsSelected('homeTeam',$event.value)"
                         (selected)="onSelected('hometeam',$event.value)"
                         (selected)="playing_teams('hometeam',$event)">
              </ng-select>
            </div>
          </div>

          <!--Guest Team-->
          <div class="form-group row">
            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Away Team'"
                             *ngSwitchCase="!awayteam.touched && !awayteam.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Away Team'"
                             *ngSwitchCase="awayteam.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Home Team'" *ngSwitchCase="awayteam.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Away Team'"
                             *ngSwitchCase="!awayteam.valid && awayteam.touched"></dynamic-label>
            </div>
            <div class="col-sm-8 ">
              <ng-select [formControl]="awayteam"
                         [options]="teamsList" [allowClear]="true" placeholder="Select Visiting Team"
                         highlightTextColor="black"
                         (selected)="onTeamsSelected('awayTeam',$event.value)"
                         (selected)="onSelected('awayteam',$event.value)"
                         (selected)="playing_teams('awayteam',$event)">
              </ng-select>
            </div>
          </div>

          <!--Umpiring Team-->
          <div class="form-group row">
            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Umpiring Team'"
                             *ngSwitchCase="!umpireTeam.touched && !umpireTeam.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Umpiring Team'"
                             *ngSwitchCase="umpireTeam.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Umpiring Team'" *ngSwitchCase="umpireTeam.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Umpiring Team'"
                             *ngSwitchCase="!umpireTeam.valid && umpireTeam.touched"></dynamic-label>
            </div>
            <div class="col-sm-8 ">
              <ng-select [formControl]="umpireTeam"
                         [options]="teamsList" [allowClear]="true" placeholder="Select Umpiring Team"
                         highlightTextColor="black" (selected)="onTeamsSelected('umpiringTeam',$event.value)"
                                                 (selected)="onSelected('umpireTeam',$event.value)">
              </ng-select>
            </div>
          </div>

          <!--Winning Toss Team-->
          <div class="form-group row">
            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Winning Toss Team'"
                             *ngSwitchCase="!toss_won_id.touched && !toss_won_id.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Winning Toss Team'"
                             *ngSwitchCase="toss_won_id.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Winning Toss Team'" *ngSwitchCase="toss_won_id.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Winning Toss Team'"
                             *ngSwitchCase="!toss_won_id.valid && toss_won_id.touched"></dynamic-label>
            </div>
            <div class="col-sm-8 ">
              <ng-select [formControl]="toss_won_id"
                         [options]="teams_playings" [allowClear]="true"
                         placeholder="Select Winning Toss team" highlightTextColor="black"
                         (selected)="onSelected('toss_won_id',$event.value)">
              </ng-select>
            </div>
          </div>

          <!--Bating First Team-->
          <div class="form-group row">
            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">

              <dynamic-label [labelStatus]="'info'" [labelText]="'Batting First Team'"
                             *ngSwitchCase="!batting_first_id.touched && !batting_first_id.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Batting First Team'"
                             *ngSwitchCase="batting_first_id.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Batting First Team'" *ngSwitchCase="toss_won_id.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Batting First Team'"
                             *ngSwitchCase="!batting_first_id.valid && batting_first_id.touched"></dynamic-label>

            </div>
            <div class="col-sm-8">
              <ng-select [formControl]="batting_first_id"
                         [(options)]="teams_playings" [allowClear]="true" (selected)="battingOrderStatus($event.value)"
                         placeholder="Select Batting First Team" highlightTextColor="black"
                         (selected)="onSelected('batting_first_id',$event.value)">
              </ng-select>
            </div>
          </div>
          <!--Batting second-->
          <div class="form-group row">
            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Batting Second Team'"
                             *ngSwitchCase="!batting_second_id.touched && !batting_second_id.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Batting Second Team'"
                             *ngSwitchCase="batting_second_id.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'Batting Second Team'" *ngSwitchCase="batting_second_id.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Batting Second Team'"
                             *ngSwitchCase="!batting_second_id.valid && batting_second_id.touched"></dynamic-label>
            </div>
            <div class="col-sm-8 ">
              <ng-select [formControl]="batting_second_id"
                         [(options)]="teams_playings" [allowClear]="true"
                         placeholder="Select Batting Second Team" highlightTextColor="black"
                         (selected)="onSelected('batting_second_id',$event.value)">
              </ng-select>
            </div>
          </div>

          <!--Victorious team -->
          <div class="form-group row">
            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Victorious Team'"
                             *ngSwitchCase="!result_won_id.touched && !result_won_id.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Victorious Team'"
                             *ngSwitchCase="result_won_id.valid"></dynamic-label>
              <!-- <dynamic-label [labelStatus]="'warning'" [labelText]="'VictoriousTeam'" *ngSwitchCase="result_won_id.touched"></dynamic-label>-->
              <dynamic-label [labelStatus]="'error'" [labelText]="'Victorious Team'"
                             *ngSwitchCase="!result_won_id.valid && result_won_id.touched"></dynamic-label>
            </div>
            <div class="col-sm-8 ">
              <ng-select [formControl]="result_won_id"
                         [options]="teams_playings" [allowClear]="true"
                         placeholder="Select Victorious Team" highlightTextColor="black"
                         (selected)="onSelected('result_won_id',$event.value)">
              </ng-select>
            </div>
          </div>
          <div class="form-group row">
            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'First Umpire Team'"
                             *ngSwitchCase="!umpire1.touched && !umpire1.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'First Umpire Team'"
                             *ngSwitchCase="umpire1.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'warning'" [labelText]="'First Umpire Team'"
                             *ngSwitchCase="!umpire1.valid && umpire1.touched"></dynamic-label>
              <!--<dynamic-label [labelStatus]="'error'" [labelText]="'First Umpire Team'" *ngSwitchCase="!umpire1.valid && umpire1.touched"></dynamic-label>-->
            </div>

            <div class="col-sm-8 ">
              <ng-select [formControl]="umpire1"
                         [options]="playersList" [allowClear]="true"
                         placeholder="Select First Umpire " highlightTextColor="black"
                         (selected)="onSelected('umpire1',$event.value)">
              </ng-select>
            </div>
          </div>


          <div class="form-group row">

            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Second Umpire Team'"
                             *ngSwitchCase="!umpire2.touched && !umpire2.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Second Umpire Team'"
                             *ngSwitchCase="umpire2.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'warning'" [labelText]="'Second Umpire Team'"
                             *ngSwitchCase="!umpire2.valid && umpire2.touched"></dynamic-label>
              <!--<dynamic-label [labelStatus]="'error'" [labelText]="'Second Umpire Team'" *ngSwitchCase="!umpire2.valid && umpire2.touched"></dynamic-label>-->
            </div>
            <div class="col-sm-8 ">
              <ng-select [formControl]="umpire2"
                         [options]="playersList" [allowClear]="true"
                         placeholder="Select Second Umpire " highlightTextColor="black"
                         (selected)="onSelected('umpire2',$event.value)">
              </ng-select>
            </div>
          </div>
          <div class="form-group row">

            <div class="button-wrapper" class="col-sm-4 " [ngSwitch]="true">
              <dynamic-label [labelStatus]="'info'" [labelText]="'Man of the Match'"
                             *ngSwitchCase="!mom.touched && !mom.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'success'" [labelText]="'Man of the Match'"
                             *ngSwitchCase="mom.valid"></dynamic-label>
              <dynamic-label [labelStatus]="'warning'" [labelText]="'Man of the Match'"
                             *ngSwitchCase="!mom.valid && mom.touched"></dynamic-label>
              <!--<dynamic-label [labelStatus]="'error'" [labelText]="'Man of the Match'" *ngSwitchCase="!mom.valid && mom.touched"></dynamic-label>-->
            </div>

            <div class="col-sm-8 ">
              <ng-select [formControl]="mom"
                         [options]="playersList" [allowClear]="true"
                         placeholder="Select Man of the Match " highlightTextColor="black"
                         (selected)="onSelected('mom',$event.value)">
              </ng-select>
            </div>
          </div>
          <!--[disabled]="!form.valid"-->
          <!--<div class="auth-sep"><span><span>or Sign up with one click</span></span></div>-->

          <!--<div class="al-share-auth">-->
          <!--<ul claSss="al-share clearfix">-->
          <!--<li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>-->
          <!--<li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>-->
          <!--<li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>-->
          <!--</ul>-->
          <!--</div>-->
        </ba-card>
      </form>
    </div>

    <div class="form-group row">
      <div class="offset-sm-4 col-xlg-4 col-lg-4 col-md-4 col-sm-4">
        <button type="submit" class="btn btn-default btn-auth"
                (click)="onSubmitBasicDetails(form.value)">Submit Match Details !!
        </button>
      </div>
    </div>

  </ba-card>
</div>
