<ba-card title="Centeral Texas League">
<p-fieldset legend="Ctcl Clubs" [toggleable]="true">
  <p-dataTable [value]="clubsInfor" selectionMode="single" [(selection)]="selectedCar" [contextMenu]="cm">
    <p-column field="club_name" header="Name" [style]="{}">></p-column>
    <p-column field="president_name" header="President"></p-column>
    <p-column field="vice_president_name" header="Vice President"></p-column>
    <p-column field="secretary_name" header="Secretary"></p-column>
    <p-column field="ground_name" header="Ground"></p-column>
  </p-dataTable>
  <p-contextMenu #cm [model]="items"></p-contextMenu>
</p-fieldset>
</ba-card>

<p-fieldset legend="Ctcl Teams" [toggleable]="true">
  <p-dataTable [value]="teams_rrcc_data" selectionMode="single" [(selection)]="selectedCar" [contextMenu]="cm">
    <p-column field="name" header="Name" [style]="{}">></p-column>
    <p-column field="captain" header="Captain"></p-column>
    <p-column field="vice_captain" header="Vice Captain"></p-column>
    <!--<p-column field="color" header="Team Color"></p-column>-->
    <p-column field="clubd" header="Team Club"></p-column>
  </p-dataTable>
  <p-contextMenu #cm [model]="items"></p-contextMenu>
</p-fieldset>

<!--
<div class=" banner-text ">

  <tree id="tree-view" [tree]="tree"></tree>

</div>
&lt;!&ndash;<ba-card title="Raised Buttons" baCardClass="with-scroll button-panel">
  <div class="banner-text">
    <h1>Simple Banner Text</h1>

    <p>Lorem ipsum dolor sit amet</p>

    <p>Odio amet viverra rutrum</p>
  </div>

</ba-card>&ndash;&gt;


<p-fieldset legend="Central Texas League" [toggleable]="true">
  <p-organizationChart [value]="ctcl" styleClass=""></p-organizationChart>
  <p-fieldset legend="Central Texas League" [toggleable]="true">
    <p-organizationChart [value]="ctcl" styleClass=""></p-organizationChart>
  </p-fieldset>
</p-fieldset>

<p-fieldset legend="Round Rock Club" [style]="{'margin-bottom':'20px', 'background':'blue'}" [toggleable]="true">
  <ba-card title="Austin Cricket Club" baCardClass="card with-scroll">
    <p-organizationChart [value]="rrccClub" styleClass=""></p-organizationChart>
  </ba-card>
</p-fieldset>
<p-fieldset legend="Austin Cricket Club" [toggleable]="true">
  <ba-card title="Austin Cricket Club" baCardClass="card with-scroll">
    <p-organizationChart [value]="acaClub" [style]="{'margin-bottom':'20px', 'background':'rgba(29, 63, 74, 0.53)'}"
                         styleClass=""></p-organizationChart>
  </ba-card>
</p-fieldset>

<p-fieldset legend="Hill County Cricket Club" [toggleable]="true">
  <ba-card title="Austin Cricket Club" baCardClass="card with-scroll">
    <p-organizationChart [value]="hcaClub" [style]="{'margin-bottom':'20px', 'background':'red'}"
                         styleClass=""></p-organizationChart>
  </ba-card>
</p-fieldset>

&lt;!&ndash;<p-treeTable [value]="files1">
  <p-header>Basic</p-header>
  <p-column field="name" header="Name"></p-column>
  <p-column field="size" header="Size"></p-column>
  <p-column field="type" header="Type"></p-column>
</p-treeTable>&ndash;&gt;

<ng-template let-car pTemplate="item">
  <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5">
    <div class="ui-grid-row">
      <div class="ui-grid-col-3" style="text-align:center"><i class="fa fa-search"
                                                              style="cursor:pointer;float:left;margin-top:40px"></i>
      </div>
      <div class="ui-grid-col-9">
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">Vin:</div>
            <div class="ui-grid-col-10">Vin</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">Year:</div>
            <div class="ui-grid-col-10">Year</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">Brand:</div>
            <div class="ui-grid-col-10">Brand</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2">Color:</div>
            <div class="ui-grid-col-10">Color</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
-->
