
<div class="row">
  <div class="col-xlg-12 col-xl-12 col-lg-12  col-md-12 col-sm-12 col-12">
    <ba-card title="Round Rock Club" baCardClass="card with-scroll">
      <p-organizationChart [value]="ctcl"></p-organizationChart>
    </ba-card>
  </div>
</div>


<div class="row">
  <div class="col-xlg-12 col-xl-12 col-lg-12  col-md-12 col-sm-12 col-12">
    <ba-card title="Round Rock Club" baCardClass="card with-scroll">
      <p-organizationChart [value]="rrccClub"></p-organizationChart>
    </ba-card>
  </div>
</div>
<div class="row">
  <div class="col-xlg-12 col-xl-12 col-lg-12  col-md-12 col-sm-12 col-12">
    <ba-card title="Autin Cricket Club" baCardClass="card with-scroll">
      <p-organizationChart [value]="acaClub"></p-organizationChart>
    </ba-card>
  </div>
</div>
<div class="row">
  <div class="col-xlg-12 col-xl-12 col-lg-12  col-md-12 col-sm-12 col-12">
    <ba-card title="Hill County Club" baCardClass="card with-scroll">
      <p-organizationChart [value]="hcaClub"></p-organizationChart>
    </ba-card>
  </div>
</div>

